@import "tailwindcss/preflight";
@tailwind utilities;

@layer base {
  .dark {
    --background: #15171a;
    --foreground: #f8fafc;

    --card: #1a1c21;
    --card-foreground: #f8fafc;

    --popover: #1a1c21;
    --popover-foreground: #f8fafc;

    --primary: #7c6cff;
    --primary-foreground: #ffffff;

    --secondary: #25262b;
    --secondary-foreground: #f8fafc;

    --muted: #25262b;
    --muted-foreground: #9ca3af;

    --accent: #25262b;
    --accent-foreground: #f8fafc;

    --destructive: #ef4444;
    --destructive-foreground: #f8fafc;

    --border: #25262b;
    --input: #25262b;
    --ring: #d1d5db;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border antialiased;
  }

  html {
    @apply h-full;
  }

  body {
    @apply bg-background text-foreground h-full;
  }
}
