@import "tailwindcss/preflight";
@import "tailwindcss";

@layer base {
  :root {
    --background: 248 250 252;
    --foreground: 15 23 42;

    --card: 255 255 255;
    --card-foreground: 15 23 42;

    --popover: 255 255 255;
    --popover-foreground: 15 23 42;

    --primary: 122 101 255;
    --primary-foreground: 255 255 255;

    --secondary: 241 245 249;
    --secondary-foreground: 15 23 42;

    --muted: 241 245 249;
    --muted-foreground: 100 116 139;

    --accent: 241 245 249;
    --accent-foreground: 15 23 42;

    --destructive: 239 68 68;
    --destructive-foreground: 248 250 252;

    --border: 226 232 240;
    --input: 226 232 240;
    --ring: 99 102 241;

    --radius: 0.5rem;
  }

  .dark {
    --background: 23 23 24;
    --foreground: 248 250 252;

    --card: 27 27 29;
    --card-foreground: 248 250 252;

    --popover: 27 27 29;
    --popover-foreground: 248 250 252;

    --primary: 122 101 255;
    --primary-foreground: 255 255 255;

    --secondary: 40 40 43;
    --secondary-foreground: 248 250 252;

    --muted: 40 40 43;
    --muted-foreground: 163 174 190;

    --accent: 40 40 43;
    --accent-foreground: 248 250 252;

    --destructive: 239 68 68;
    --destructive-foreground: 248 250 252;

    --border: 40 40 43;
    --input: 40 40 43;
    --ring: 214 221 229;
  }

  * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  html,
  body {
    height: 100%;
  }

  body {
    background-color: rgb(var(--background));
    color: rgb(var(--foreground));
  }
}
